body {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-flow: column nowrap;
}

.footer_login {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    /*position: center;*/
}

.username {
    padding-bottom: 5px;
}

.password {
    padding-bottom: 5px;
}

.remember {
    padding-top: 10px;
    padding-bottom: 15px;
}

.remember input {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 0px;
}

.submit input {
    width: 150px;
    height: 35px;
    border: none;
    background-color: rgb(0, 119, 255);
    color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #c5c3c3;
    border-color: black;
    border: 2px solid;
    width: 500px;
    height: 300px;
    padding: 5px;
}

