.section_introduction{
    display: grid;
    grid-template-columns: 8% 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas: 
    ". sec_1 ."
    ". sec_2 ."
    ". sec_3 ."
    ". sec_4 .";
    background: url(../img/backgrount_for_section.jpg) no-repeat;
    background-position: top;
    background-size: cover;
}

.sec_1{
    grid-area: sec_1;
}

.sec_2{
    grid-area: sec_2;
}

.sec_3{
    grid-area: sec_3;
}

.sec_4{
    grid-area: sec_4;
}

.section_introduction p {
    font-size: 25px;
    color: rgba(128, 128, 128, 0.945);
}

.section_introduction p.title {
    font-weight: bold;
    font-size: 65px;
    color:  rgb(0, 119, 255);
}

.section_introduction p.sub-title {
    font-weight: bold;
    font-size: 45px;
    color: rgb(83, 83, 83);
}

.section_introduction .button{
    background-color: rgb(0, 119, 255);
    border: none;
    color: white;
    font-size: 25px;
    /* height: 10%;*/
    width: 50%; 
}
.section_introduction .button:hover{
    background-color: rgb(0, 102, 255);
    cursor: pointer;
}